/**
 * Source: Tailwind CSS by Adam Wathan (MIT License)
 */

.rounded-none {
  border-radius: 0px !important;
}

.rounded-sm {
  border-radius: 0.125rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.375rem !important;
}

.rounded-lg {
  border-radius: 0.5rem !important;
}

.rounded-xl {
  border-radius: 0.75rem !important;
}

.rounded-2xl {
  border-radius: 1rem !important;
}

.rounded-3xl {
  border-radius: 1.5rem !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-t-none {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.rounded-r-none {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.rounded-b-none {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.rounded-l-none {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.rounded-t-sm {
  border-top-left-radius: 0.125rem !important;
  border-top-right-radius: 0.125rem !important;
}

.rounded-r-sm {
  border-top-right-radius: 0.125rem !important;
  border-bottom-right-radius: 0.125rem !important;
}

.rounded-b-sm {
  border-bottom-right-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-l-sm {
  border-top-left-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-t {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-r {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-l {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-t-md {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

.rounded-r-md {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.rounded-b-md {
  border-bottom-right-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.rounded-r-xl {
  border-top-right-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.rounded-l-xl {
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.rounded-r-2xl {
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.rounded-b-2xl {
  border-bottom-right-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.rounded-l-2xl {
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
}

.rounded-r-3xl {
  border-top-right-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}

.rounded-b-3xl {
  border-bottom-right-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.rounded-l-3xl {
  border-top-left-radius: 1.5rem !important;
  border-bottom-left-radius: 1.5rem !important;
}

.rounded-t-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
}

.rounded-r-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}

.rounded-b-full {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-l-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-tl-none {
  border-top-left-radius: 0px !important;
}

.rounded-tr-none {
  border-top-right-radius: 0px !important;
}

.rounded-br-none {
  border-bottom-right-radius: 0px !important;
}

.rounded-bl-none {
  border-bottom-left-radius: 0px !important;
}

.rounded-tl-sm {
  border-top-left-radius: 0.125rem !important;
}

.rounded-tr-sm {
  border-top-right-radius: 0.125rem !important;
}

.rounded-br-sm {
  border-bottom-right-radius: 0.125rem !important;
}

.rounded-bl-sm {
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-tl {
  border-top-left-radius: 0.25rem !important;
}

.rounded-tr {
  border-top-right-radius: 0.25rem !important;
}

.rounded-br {
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-tl-md {
  border-top-left-radius: 0.375rem !important;
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem !important;
}

.rounded-br-md {
  border-bottom-right-radius: 0.375rem !important;
}

.rounded-bl-md {
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem !important;
}

.rounded-tr-lg {
  border-top-right-radius: 0.5rem !important;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-tl-xl {
  border-top-left-radius: 0.75rem !important;
}

.rounded-tr-xl {
  border-top-right-radius: 0.75rem !important;
}

.rounded-br-xl {
  border-bottom-right-radius: 0.75rem !important;
}

.rounded-bl-xl {
  border-bottom-left-radius: 0.75rem !important;
}

.rounded-tl-2xl {
  border-top-left-radius: 1rem !important;
}

.rounded-tr-2xl {
  border-top-right-radius: 1rem !important;
}

.rounded-br-2xl {
  border-bottom-right-radius: 1rem !important;
}

.rounded-bl-2xl {
  border-bottom-left-radius: 1rem !important;
}

.rounded-tl-3xl {
  border-top-left-radius: 1.5rem !important;
}

.rounded-tr-3xl {
  border-top-right-radius: 1.5rem !important;
}

.rounded-br-3xl {
  border-bottom-right-radius: 1.5rem !important;
}

.rounded-bl-3xl {
  border-bottom-left-radius: 1.5rem !important;
}

.rounded-tl-full {
  border-top-left-radius: 9999px !important;
}

.rounded-tr-full {
  border-top-right-radius: 9999px !important;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px !important;
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px !important;
}
