// Layout

.container {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.clamp-viewport-x--absolute {
  position: absolute !important;
  // Expand to width of viewport
  width: 100vw !important;
  // Align to viewport edge
  left: calc(-50vw + 50%) !important;

  // // Compensate for portait-lock rotation
  // @media screen and (min-width: 280px) and (max-width: 767px) and (orientation: landscape) {
  //   width: 100vh !important;
  //   left: calc(-50vh + 50%) !important;
  // }
}

.clamp-viewport-x {
  // Expand to width of viewport
  width: 100vw !important;
  // Align to viewport edge
  margin-left: calc(-50vw + 50%) !important;

  // // Compensate for portait-lock rotation
  // @media screen and (min-width: 280px) and (max-width: 767px) and (orientation: landscape) {
  //   width: 100vh !important;
  //   margin-left: calc(-50vh + 50%) !important;
  // }

  // Variants
  &--absolute {
    position: absolute !important;
    // Align to viewport edge
    left: calc(-50vw + 50%) !important;

    // // Compensate for portait-lock rotation
    // @media screen and (min-width: 280px) and (max-width: 767px) and (orientation: landscape) {
    //   left: calc(-50vh + 50%) !important;
    // }
  }
  &--relative {
    position: relative !important;
    // Expand to width of viewport
    width: 100vw !important;
    // Align to viewport edge
    margin-left: calc(-50vw + 50%) !important;

    @media screen and (min-width: 280px) and (max-width: 767px) and (orientation: landscape) {
      width: 100vh !important;
      left: calc(-50vh + 50%) !important;
    }
  }
}

.z-background {
  z-index: -1 !important;
}
