@import "~bootstrap/scss/functions";

// Color System
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #2e2e2e;
$secondary: #3fbdf1;
$dark: $primary;
$info: $secondary;
$gray-800: $dark;
$gray-600: $primary;
$secondary-lighter: #edfaff;
$text-muted: $gray-500;

$body-color: $dark;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 398px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
  sm: 434px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Components
$border-width: 1px;

$box-shadow-sm: 0 -0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 0 -0.75rem 0.75rem rgba($black, 0.15);
$box-shadow-lg: 0 -1rem 3rem rgba($black, 0.175);

$component-active-bg: $secondary;

// Typography
$font-family-site-title: "Caveat", cursive;
$font-family-base: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.125rem;
$enable-responsive-font-sizes: true;

// Layout
$cd-footer-height: 4rem;
$cd-header-height: 6rem;

@import "~bootstrap/scss/variables";
